* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #6DFC56;
    width: 100%;
    height: 800px;    
}

.cards{
    display: flex;
    margin-left: 180px;
}